# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-docker
influxdb-client
joblib
matplotlib
numpy
openmeteo-requests
pandas
PyYAML
requests-cache
retry-requests
xgboost
